extends layout

block content
  h1= title

  each tarea, i in tareas
    .container
      .row
        .col-md-3
          .h3(style='margin: 0px !important') #{tarea.nombre}
        .col-md-7
          .progress
            .progress-bar.progress-bar-striped(role='progressbar', aria-valuenow=tarea.porcentaje, aria-valuemin='0', aria-valuemax='100', style='width:'+tarea.porcentaje+'%')
              p #{tarea.porcentaje}%
        .col-md-2
          button.btn.btn-xs.btn-default(type='button') Actualizar
        .col-md-12
          .list-inline
            each tag in tarea.etiquetas
              li
                span.label.label-primary #{tag}

    hr

  button.btn.btn-md.btn-success(type='button', onclick="window.location='/tareas/new'") Nueva Tarea
